<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel tests" parallel="tests" thread-count="2" >
    <!-- Test on Chrome -->
    <!--<test name="Verify product creation on Chrome">-->
        <!--<parameter name="browser" value="chrome"/>-->
        <!--<classes>-->
            <!--<class name="SeleniumWebdriverInterviewTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!-- Test on Firefox -->
    <test name="Verify product creation on Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="SeleniumWebdriverInterviewTest"/>
        </classes>
    </test>
</suite>